{% if items|length > 0 %}
  <li class="flyntComponent grid-item--{{ projectWidth }}" id="projects" is="flynt-grid-posts-selector">
    <div class="container">
      {% for item in items %}
        <div class="grid-item {{ post.post_type }}">
          <div class="content">
            <a href="{{ post.link }}" class="content-link" title="{{ post.title }}">
              <div class="overlay"></div>
              {% if post.thumbnail %}
                <img class="featuredImage" src="{{ post.thumbnail.src }}" />
                <img class="secondaryImage" src="{{ post.hoverImage.src }}" />
              {% endif %}
              {% if post.coverVideo %}
                <video autoplay muted loop>
                  <source type="video/mp4" src="{{ post.coverVideo }}">
                </video>
              {% endif %}
              <div class="content-inner">
                <h3 class="content-subtitle">{{ post.client }}</h3>
                <h3 class="content-title">{{ post.title }}</h3>
              </div>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </li>
{% endif %}
