{% extends 'templates/_document.twig' %}

{% block content %}
  <article class="post">
    <header class="post-header">
      {% for component in post.meta('postBannerComponents') %}
        {{ renderComponent(component) }}
      {% endfor %}
    </header>
    <section class="post-main">
      <div class="container container_full meta componentPadding">
        <div class="header">
          <div class="post-subtitle">{{ post.client }}</div>
          <div class="post-title">{{ post.title }}</div>
        </div>
        <div class="content">
          {% if post.description|e('wp_kses_post') %}
            {{ post.description|e('wp_kses_post') }}
          {% endif %}
        </div>
      </div>
      <ul class="media-gallery">
      {% for component in post.meta('postComponents') %}
        {{ renderComponent(component) }}
      {% endfor %}
      </ul>
    </section>
  </article>
{% endblock %}
