<div class="flyntComponent componentPadding" is="flynt-grid-media-gallery">
  <div class="gallery">
    {% for panel in repeaterGallery %}
      {% if panel.panelImage %}
        <div class="gallery-item gallery-item--{{ panel.panelImageWidth }}">
          <img class="figure-image lazyload" src="{{ panel.panelImage.src|resizeDynamic(0, 540) }}" alt="{{ panel.panelImage.alt|e }}">
        </div>
      {% endif %}
      {% if panel.panelVideo %}
          <div class="gallery-item gallery-item--{{ panel.panelVideoWidth }}">
            <video autoplay muted>
              <source type="video/mp4" src="{{ panel.panelVideo }}">
            </video>
          </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
