<div class="flyntComponent" is="flynt-navigation-footer-columns">
  <div class="container">
    <div class="columns">
      <div class="columns-info">
        <a class="logo" href="{{ site.link }}">
          <svg width="497" height="30" viewBox="0 0 497 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.06765 29.6858H23.7495V11.4606H32.8631V0.314209H0V11.4606H9.06765V29.6858Z" fill="white"/>
            <path d="M55.1238 0.314209H40.4399V29.6858H55.1238V20.3011L63.7896 18.5641V29.6858H78.4714V0.314209H63.7896V9.27688L55.1238 11.0139V0.314209Z" fill="white"/>
            <path d="M172.228 22.5747H153.097V18.8987H172.228V12.5137H153.097V9.14806H172.228V0.314209H138.414V29.6858H172.228V22.5747Z" fill="white"/>
            <path d="M215.435 22.5746H196.304V18.8986H215.435V12.5136H196.304V9.14795H215.435V0.314105L181.62 0V29.3716L215.435 29.6857V22.5746Z" fill="white"/>
            <path d="M406.166 22.8887H387.035V19.2127H406.166V12.8277H387.035V9.46209H406.166V0.628662H372.351V29.9998H406.166V22.8887Z" fill="white"/>
            <path d="M449.372 22.8888H430.241V19.2128H449.372V12.8278H430.241V9.46216H449.372V0.628733L415.558 0.314209V29.6858L449.372 29.9999V22.8888Z" fill="white"/>
            <path d="M239.508 21.8428H258.14V13.5079H239.508V9.60144H258.14V0.314209H224.824V29.6858H239.508V21.8428Z" fill="white"/>
            <path d="M281.899 0.314209H267.217V29.6858H281.899V0.314209Z" fill="white"/>
            <path d="M307.56 21.8428H326.192V13.5079H307.56V9.60144H326.192V0.314209H292.876V29.6858H307.56V21.8428Z" fill="white"/>
            <path d="M340.979 29.6858H355.661V11.4606H364.775V0.314209H331.912V11.4606H340.979V29.6858Z" fill="white"/>
            <path d="M482.975 13.9379L473.697 0.314209H458.764V29.6858H472.586V15.2963L483.75 29.6858H496.795V0.314209H482.975V13.9379Z" fill="white"/>
            <path d="M119.454 18.1512C120.481 18.1164 121.502 17.9804 122.502 17.7451C123.586 17.475 124.6 16.9756 125.475 16.2804C126.446 15.5365 127.226 14.5719 127.75 13.4665C128.333 12.1373 128.635 10.7014 128.635 9.24974C128.635 7.79806 128.333 6.36218 127.75 5.03296C127.226 3.92759 126.446 2.96296 125.475 2.21903C124.6 1.52389 123.586 1.02445 122.502 0.754399C121.05 0.429472 119.564 0.28167 118.077 0.314224H89.3589V29.6858H104.043V19.2875L112.123 29.6858H129.03L119.454 18.1512ZM112.411 14.0777C112.008 14.3155 111.566 14.4805 111.105 14.5654C110.487 14.6596 109.862 14.6999 109.236 14.6858H104.043V7.56109H110.144C111.531 7.56109 112.498 7.80958 113.1 8.32182C113.712 8.84421 114.023 9.6957 114.023 10.8516C114.023 12.3366 113.48 13.4222 112.411 14.0777H112.411Z" fill="white"/>
          </svg>
        </a>
      </div>
      <div class="social">
        {% if social %}
          <ul class="socialList">
            {% for socials in social %}
              <li class="socialList-item">
                {% if socials.url %}
                  <a class="socialList-link socialList-text" href="{{ socials.url }}" aria-label="{{ socials.linkText }}">
                    {{- socials.icon -}}{{ socials.text }}
                  </a>
                {%  else %}
                  <span class="socialList-text">
                    {{- socials.icon -}}{{ socials.text }}
                  </span>
                {%  endif %}
              </li>

            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
    <div class="columns-menu">
      {{ copyright|e('wp_kses_post') }}
      {% include "Partials/_menu.twig" with { items: menu.items } %}
    </div>
  </div>
</div>
