<nav is="flynt-navigation-main" class="flyntComponent flyntComponent--navigation" aria-label="{{ __("Main", "flynt") }}">
  <div class="wrapper">
    <div class="container">
      <a class="logo logo-desktop" href="{{ site.link }}">
        <svg class="logoHeader" width="387" height="70" viewBox="0 0 387 70" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M91.7035 0H90.6638V70H91.7035V0Z"/>
          <path d="M13.1899 20.9649C12.283 21.013 11.3798 21.1167 10.4856 21.2757C9.20359 21.4986 7.9444 21.8373 6.72351 22.2876C4.97649 22.8943 3.40024 23.9107 2.12668 25.2517C1.28012 26.1916 0.670525 27.3203 0.348708 28.5437C0.169016 29.2442 0.079192 29.9647 0.0814012 30.6878V31.0945H9.96197C10.0839 30.4439 10.1653 27.6383 18.2566 27.6383C26.5516 27.6383 27.2022 29.1833 27.2022 30.2812C27.2022 31.2979 26.633 32.2737 23.2579 32.2737H13.052V39.3081H23.746C27.3242 39.3081 27.9747 40.487 27.9747 41.6662C27.9747 42.886 27.4869 45.041 18.8667 45.041C10.5311 45.041 10.0839 41.219 9.96197 40.4465H0V40.7718C0 43.8621 1.54504 52.0349 18.0128 52.0349H36.8793V32.7615H29.8452V27.0691C30.3884 27.0352 30.8947 26.9746 31.3796 26.8985C33.5925 26.5064 37.5572 25.2087 38.8458 20.9099H20.2019C18.594 20.9099 13.913 20.9236 13.1899 20.9649Z"/>
          <path d="M66.1674 31.0636H65.8015C58.4013 31.0636 55.5957 33.4628 55.0265 33.9177V28.4163H78.7725V20.9099H46.2721V40.125H54.9573C55.0956 39.7206 56.1388 37.6818 63.1587 37.6818C70.1117 37.6818 70.9656 39.75 70.9656 41.4458V41.6939C70.9656 43.39 70.1117 45.4579 63.1587 45.4579C55.8396 45.4579 55.189 42.8522 55.067 42.3973H46.2721V52.0348H70.5978L70.5916 52.0332C78.9147 50.4666 80.8867 45.7551 80.8867 41.6526V41.4045C80.8867 35.7791 78.1624 31.0636 66.1674 31.0636Z"/>
          <path d="M108.428 44.5398H116.493V34.5279H121.499V28.4049H103.446V34.5279H108.428V44.5398Z"/>
          <path d="M133.728 28.4049H125.662V44.5398H133.728V39.3845L138.489 38.4302V44.5398H146.554V28.4049H138.489V33.3285L133.728 34.2824V28.4049Z"/>
          <path d="M198.058 40.6333H187.549V38.6139H198.058V35.1065H187.549V33.2574H198.058V28.4049H179.483V44.5398H198.058V40.6333Z"/>
          <path d="M221.793 40.6333H211.284V38.6139H221.793V35.1065H211.284V33.2575H221.793V28.4049L203.218 28.2324V44.3672L221.793 44.5398V40.6333Z"/>
          <path d="M326.57 40.8059H316.06V38.7868H326.57V35.2791H316.06V33.43H326.57V28.5775H307.994V44.7123H326.57V40.8059Z"/>
          <path d="M350.305 40.8059H339.795V38.7868H350.305V35.2791H339.795V33.43H350.305V28.5775L331.729 28.4049V44.5398L350.305 44.7123V40.8059Z"/>
          <path d="M235.018 40.2313H245.253V35.6525H235.018V33.5066H245.253V28.4049H226.952V44.5398H235.018V40.2313Z"/>
          <path d="M258.305 28.4049H250.239V44.5399H258.305V28.4049Z"/>
          <path d="M272.401 40.2313H282.637V35.6525H272.401V33.5066H282.637V28.4049H264.335V44.5398H272.401V40.2313Z"/>
          <path d="M290.76 44.5398H298.825V34.5279H303.832V28.4049H285.779V34.5279H290.76V44.5398Z"/>
          <path d="M368.764 35.889L363.667 28.4049H355.464V44.5398H363.057V36.635L369.19 44.5398H376.356V28.4049H368.764V35.889Z"/>
          <path d="M169.067 38.2035C169.631 38.1844 170.192 38.1097 170.742 37.9804C171.337 37.832 171.894 37.5577 172.375 37.1758C172.908 36.7671 173.337 36.2372 173.624 35.63C173.945 34.8998 174.111 34.111 174.111 33.3136C174.111 32.5161 173.945 31.7273 173.624 30.9971C173.337 30.3899 172.908 29.86 172.375 29.4513C171.894 29.0695 171.337 28.7951 170.742 28.6467C169.944 28.4683 169.128 28.3871 168.311 28.4049H152.535V44.5399H160.601V38.8277L165.04 44.5399H174.328L169.067 38.2035ZM165.199 35.9658C164.977 36.0964 164.734 36.187 164.481 36.2337C164.141 36.2854 163.798 36.3075 163.454 36.2998H160.601V32.3859H163.953C164.715 32.3859 165.246 32.5224 165.577 32.8038C165.758 32.984 165.898 33.2019 165.985 33.4421C166.073 33.6823 166.107 33.9389 166.084 34.1936C166.11 34.5414 166.042 34.89 165.886 35.2021C165.73 35.5142 165.493 35.7782 165.199 35.9658V35.9658Z"/>
          <path d="M380.725 32.8135V30.0127H379.724V29.4424H382.403V30.0127H381.405V32.8135H380.725Z"/>
          <path d="M383.257 32.8135V29.4423H384.275L384.887 31.7418L385.492 29.4423H386.513V32.8135H385.881V30.1599L385.211 32.8135H384.556L383.889 30.1599V32.8135H383.257Z"/>
        </svg>
      </a>
      <a class="logo logo-mobile" href="{{ site.link }}">
        <svg class="logoHeader" width="150" height="10" viewBox="0 0 150 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2.72006 9.40496H7.12423V3.93786H9.85809V0.594238H0V3.93786H2.72006V9.40496Z"/>
          <path d="M16.5357 0.594238H12.1309V9.40496H16.5357V6.5898L19.1351 6.06874V9.40496H23.5393V0.594238H19.1351V3.28281L16.5357 3.80386V0.594238Z"/>
          <path d="M51.664 7.27182H45.9253V6.16912H51.664V4.25378H45.9253V3.24417H51.664V0.594238H41.5205V9.40496H51.664V7.27182Z"/>
          <path d="M64.625 7.27181H58.8861V6.16911H64.625V4.25377H58.8861V3.24416H64.625V0.594224L54.4814 0.5V9.31073L64.625 9.40496V7.27181Z"/>
          <path d="M121.839 7.36683H116.101V6.26413H121.839V4.3488H116.101V3.33919H121.839V0.689392H111.696V9.49997H121.839V7.36683Z"/>
          <path d="M134.801 7.36693H129.062V6.26423H134.801V4.3489H129.062V3.3393H134.801V0.689503L124.657 0.595154V9.40584L134.801 9.50007V7.36693Z"/>
          <path d="M71.8462 7.05226H77.4354V4.55201H71.8462V3.38017H77.4354V0.594238H67.4414V9.40496H71.8462V7.05226Z"/>
          <path d="M84.5624 0.594238H80.1582V9.40497H84.5624V0.594238Z"/>
          <path d="M92.2598 7.05226H97.849V4.55201H92.2598V3.38017H97.849V0.594238H87.855V9.40496H92.2598V7.05226Z"/>
          <path d="M102.285 9.40496H106.69V3.93786H109.424V0.594238H99.5654V3.93786H102.285V9.40496Z"/>
          <path d="M144.88 4.68098L142.097 0.594238H137.617V9.40496H141.763V5.08849L145.112 9.40496H149.026V0.594238H144.88V4.68098Z"/>
          <path d="M35.8335 5.9457C36.1415 5.93528 36.4477 5.89447 36.7477 5.82388C37.073 5.74287 37.3772 5.59305 37.6396 5.38452C37.9309 5.16137 38.1648 4.87201 38.3219 4.54043C38.497 4.1417 38.5874 3.71097 38.5874 3.2755C38.5874 2.84003 38.497 2.40931 38.3219 2.01057C38.1648 1.67899 37.9309 1.38963 37.6396 1.16647C37.3771 0.95794 37.073 0.808122 36.7477 0.727114C36.3122 0.629644 35.8664 0.585307 35.4202 0.595073H26.8057V9.4058H31.2104V6.28657L33.6343 9.4058H38.7061L35.8335 5.9457ZM33.7208 4.72378C33.5998 4.7951 33.4672 4.84461 33.329 4.87006C33.1435 4.89832 32.9559 4.91041 32.7683 4.90618H31.2104V2.76895H33.0406C33.4568 2.76895 33.7468 2.84349 33.9274 2.99715C34.1111 3.15385 34.2042 3.40928 34.2042 3.75603C34.2042 4.20149 34.0414 4.52712 33.7208 4.72378H33.7208Z"/>
        </svg>
      </a>
      {% if menu %}
        <ul class="menu">
          {% for item in menu.items %}
            <li class="menu-item {{ item.current ? 'menu-item--current' }}">
              <a class="menu-link" href="{{ item.link }}" {{ item.target == '_blank' ? 'target="_blank" rel="noopener noreferrer"' }}>{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</nav>
