<nav is="flynt-navigation-main" class="flyntComponent flyntComponent--navigation" aria-label="{{ __("Main", "flynt") }}">
  <div class='js-header-offset-element'></div>
  <div class="wrapper">
    <div class="container">
      <a class="logo logo-desktop" href="{{ site.link }}">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1039.29518 188.16343" width="387px" vector-effect="non-scaling-stroke" class="logoHeader">
          <g>
            <path d="M35.46639,56.31306a59.53987,59.53987,0,0,0-7.27155.83554,57.89052,57.89052,0,0,0-10.116,2.72086,31.13187,31.13187,0,0,0-12.3604,7.97016,21.33926,21.33926,0,0,0-4.78079,8.852,22.92,22.92,0,0,0-.71877,5.76534v1.09354H26.78674c.3279-1.74933.54677-9.29343,22.30356-9.29343,22.30439,0,24.05372,4.15446,24.05372,7.10635,0,2.73385-1.53046,5.35785-10.60584,5.35785H35.09565V105.636H63.85059c9.62133,0,11.37066,3.16994,11.37066,6.3407,0,3.27979-1.31159,9.07455-24.49064,9.07455-22.41341,0-23.616-10.27711-23.94387-12.35434H0v.87467c0,8.30973,4.15446,30.2854,48.43451,30.2854h50.7302V88.03281H80.25078V72.72658c1.46057-.09127,2.822-.254,4.12576-.45861,5.9504-1.05441,16.61111-4.54388,20.07585-16.10285H54.32079C49.99731,56.16512,37.41062,56.20186,35.46639,56.31306Z"/>
            <path d="M177.91745,83.4674h-.98369c-19.89844,0-27.44253,6.4511-28.973,7.67444V76.34917h63.85059v-20.184H124.421v51.6674h23.35368c.37183-1.08733,3.17686-6.56957,22.05274-6.56957,18.69588,0,20.992,5.56132,20.992,10.12112v.66712c0,4.56064-2.2961,10.12112-20.992,10.12112-19.68039,0-21.42972-7.00647-21.75762-8.22981H124.421V139.857h65.40939l-.01667-.00431c22.38022-4.21247,27.68257-16.8813,27.68257-27.91236v-.66713C217.49628,96.14694,210.17105,83.4674,177.91745,83.4674Z"/>
          </g>
          <g>
            <polygon points="291.551 119.704 313.238 119.704 313.238 92.783 326.7 92.783 326.7 76.318 278.157 76.318 278.157 92.783 291.551 92.783 291.551 119.704"/>
            <polygon points="359.581 76.318 337.892 76.318 337.892 119.704 359.581 119.704 359.581 105.841 372.382 103.276 372.382 119.704 394.069 119.704 394.069 76.318 372.382 76.318 372.382 89.557 359.581 92.123 359.581 76.318"/>
            <g>
              <polygon points="532.559 109.2 504.3 109.2 504.3 103.77 532.559 103.77 532.559 94.338 504.3 94.338 504.3 89.367 532.559 89.367 532.559 76.318 482.611 76.318 482.611 119.704 532.559 119.704 532.559 109.2"/>
              <polygon points="596.38 109.2 568.121 109.2 568.121 103.77 596.38 103.77 596.38 94.338 568.121 94.338 568.121 89.367 596.38 89.367 596.38 76.318 546.432 75.854 546.432 119.24 596.38 119.704 596.38 109.2"/>
            </g>
            <g>
              <polygon points="878.113 109.664 849.854 109.664 849.854 104.234 878.113 104.234 878.113 94.802 849.854 94.802 849.854 89.831 878.113 89.831 878.113 76.783 828.165 76.783 828.165 120.168 878.113 120.168 878.113 109.664"/>
              <polygon points="941.934 109.664 913.675 109.664 913.675 104.234 941.934 104.234 941.934 94.802 913.675 94.802 913.675 89.831 941.934 89.831 941.934 76.783 891.986 76.318 891.986 119.704 941.934 120.168 941.934 109.664"/>
            </g>
            <polygon points="631.939 108.119 659.462 108.119 659.462 95.807 631.939 95.807 631.939 90.037 659.462 90.037 659.462 76.318 610.25 76.318 610.25 119.704 631.939 119.704 631.939 108.119"/>
            <rect x="672.8681" y="76.31839" width="21.68701" height="43.3853"/>
            <polygon points="732.46 108.119 759.982 108.119 759.982 95.807 732.46 95.807 732.46 90.037 759.982 90.037 759.982 76.318 710.77 76.318 710.77 119.704 732.46 119.704 732.46 108.119"/>
            <polygon points="781.824 119.704 803.511 119.704 803.511 92.783 816.973 92.783 816.973 76.318 768.43 76.318 768.43 92.783 781.824 92.783 781.824 119.704"/>
            <polygon points="991.569 96.442 977.864 76.318 955.806 76.318 955.806 119.704 976.223 119.704 976.223 98.449 992.714 119.704 1011.983 119.704 1011.983 76.318 991.569 76.318 991.569 96.442"/>
            <path d="M454.60557,102.66573a23.06055,23.06055,0,0,0,4.50163-.5999,11.54627,11.54627,0,0,0,4.392-2.16344,11.37019,11.37019,0,0,0,3.35976-4.15647,15.49388,15.49388,0,0,0,0-12.45736,11.37027,11.37027,0,0,0-3.35978-4.15651,11.54641,11.54641,0,0,0-4.392-2.16344,27.20546,27.20546,0,0,0-6.53667-.65016H410.15108v43.3853H431.8406V104.34421l11.93587,15.35954h24.97414Zm-10.40318-6.01695a5.90852,5.90852,0,0,1-1.92918.72031,15.95131,15.95131,0,0,1-2.761.17788H431.8406V87.02291h9.012c2.04944,0,3.47754.367,4.367,1.12368a4.67866,4.67866,0,0,1,1.363,3.73685A5.18147,5.18147,0,0,1,444.20239,96.64878Z"/>
          </g>
          <g>
            <path d="M1023.73074,88.17259V80.64153h-2.69054V79.10789h7.20343v1.53364h-2.68371v7.53106Z"/>
            <path d="M1030.53967,88.17259v-9.0647h2.73832l1.6449,6.18305,1.62579-6.18305h2.7465v9.0647h-1.70087V81.0374l-1.79915,7.13519h-1.76229l-1.7937-7.13519v7.13519Z"/>
          </g>
          <line vector-effect="non-scaling-stroke" stroke="currentColor" stroke-width="1" x1="245.18362" y1="188.16343" x2="245.18362"/>

        </svg>

      </a>
      <a class="logo logo-mobile" href="{{ site.link }}">
        <svg class="logoHeader" width="150" height="10" viewBox="0 0 150 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2.72006 9.40496H7.12423V3.93786H9.85809V0.594238H0V3.93786H2.72006V9.40496Z"/>
          <path d="M16.5357 0.594238H12.1309V9.40496H16.5357V6.5898L19.1351 6.06874V9.40496H23.5393V0.594238H19.1351V3.28281L16.5357 3.80386V0.594238Z"/>
          <path d="M51.664 7.27182H45.9253V6.16912H51.664V4.25378H45.9253V3.24417H51.664V0.594238H41.5205V9.40496H51.664V7.27182Z"/>
          <path d="M64.625 7.27181H58.8861V6.16911H64.625V4.25377H58.8861V3.24416H64.625V0.594224L54.4814 0.5V9.31073L64.625 9.40496V7.27181Z"/>
          <path d="M121.839 7.36683H116.101V6.26413H121.839V4.3488H116.101V3.33919H121.839V0.689392H111.696V9.49997H121.839V7.36683Z"/>
          <path d="M134.801 7.36693H129.062V6.26423H134.801V4.3489H129.062V3.3393H134.801V0.689503L124.657 0.595154V9.40584L134.801 9.50007V7.36693Z"/>
          <path d="M71.8462 7.05226H77.4354V4.55201H71.8462V3.38017H77.4354V0.594238H67.4414V9.40496H71.8462V7.05226Z"/>
          <path d="M84.5624 0.594238H80.1582V9.40497H84.5624V0.594238Z"/>
          <path d="M92.2598 7.05226H97.849V4.55201H92.2598V3.38017H97.849V0.594238H87.855V9.40496H92.2598V7.05226Z"/>
          <path d="M102.285 9.40496H106.69V3.93786H109.424V0.594238H99.5654V3.93786H102.285V9.40496Z"/>
          <path d="M144.88 4.68098L142.097 0.594238H137.617V9.40496H141.763V5.08849L145.112 9.40496H149.026V0.594238H144.88V4.68098Z"/>
          <path d="M35.8335 5.9457C36.1415 5.93528 36.4477 5.89447 36.7477 5.82388C37.073 5.74287 37.3772 5.59305 37.6396 5.38452C37.9309 5.16137 38.1648 4.87201 38.3219 4.54043C38.497 4.1417 38.5874 3.71097 38.5874 3.2755C38.5874 2.84003 38.497 2.40931 38.3219 2.01057C38.1648 1.67899 37.9309 1.38963 37.6396 1.16647C37.3771 0.95794 37.073 0.808122 36.7477 0.727114C36.3122 0.629644 35.8664 0.585307 35.4202 0.595073H26.8057V9.4058H31.2104V6.28657L33.6343 9.4058H38.7061L35.8335 5.9457ZM33.7208 4.72378C33.5998 4.7951 33.4672 4.84461 33.329 4.87006C33.1435 4.89832 32.9559 4.91041 32.7683 4.90618H31.2104V2.76895H33.0406C33.4568 2.76895 33.7468 2.84349 33.9274 2.99715C34.1111 3.15385 34.2042 3.40928 34.2042 3.75603C34.2042 4.20149 34.0414 4.52712 33.7208 4.72378H33.7208Z"/>
        </svg>
      </a>
      {% if menu %}
        <ul class="menu">
          {% for item in menu.items %}
            <li class="menu-item {{ item.current ? 'menu-item--current' }}">
              <a class="menu-link" href="{{ item.link }}" {{ item.target == '_blank' ? 'target="_blank" rel="noopener noreferrer"' }}>{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</nav>
